ADMIN_PASSWORD_HASH=replace_with_sha256_hash
MAGASINIER_PASSWORD_HASH=replace_with_sha256_hash
LECTURE_PASSWORD_HASH=replace_with_sha256_hash
HTTPS_PASSPHRASE=replace_with_local_certificate_passphrase
